/* main {
    margin: 0px;
    background-size: auto;
    align-items: center;
    display: flex;
    flex-direction: row; */

    
*{
    text-align: center;
    border-radius: 50%;
    background: #A40C0C;
background: -moz-linear-gradient(-45deg, #A40C0C 0%, #CBCBCB 53%, #425375 100%);
background: -webkit-linear-gradient(-45deg, #A40C0C 0%, #CBCBCB 53%, #425375 100%);
background: linear-gradient(135deg, #A40C0C 0%, #CBCBCB 53%, #425375 100%);
}
#scoreboard{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 0.8px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
#you-win{
    font-size: xxx-large;
}